.img-responsive-similar,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  height: 150px;
}

.nav-custom > li > a {
  padding: 3px 10px;
	margin-top: 6px;
}

.nav-custom > li > a:hover,
.nav-custom > li > a:focus {
  background-color: #ffffff;
}
