/*
* @author Paulo Dias
  @git https://github.com/pecedias
* @version 0.1
*/

/* ========================= LAYOUT ========================= */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body {
	height: 100%;
	overflow: auto;
}

body {
	font-family: 'Ubuntu', Arial, sans-serif;
	background: #F1F1F1;
	overflow-x: hidden;
}

/* -- Barra de Navegação -- */
.span-logo {
	padding-left: 10px;
}

.img-logo {
	font-family: 'Anton', Arial, sans-serif;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding-bottom: 4px;
}

.navbar span {
	color: #FFFFFF;
}

nav.navbar-bg {
	padding: 3px 0px;
	margin: 0px 0px 1px 0px;
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	border: none;
}

/* -- Elementos -- */
#elementos1 {
	background: #F1F1F1;
	padding: 0px;
}

#elementos1 .container {
	background: #FFFFFF;
}

#elementos1 .img-centro {
	display: block;
	/*background: url('../assets/img/img.png') no-repeat;*/
	margin-top: 4px;
	height: 400px;
	width: 700px;
  margin-left: auto;
	margin-right: auto;
	color: transparent;
	border: 5px solid #fff;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);

}

#elementos1 a {
	text-decoration: none;
}

#elementos1 li {
	margin-top: 5px;
	/*background: rgba(0, 0, 0, .1);*/
	border: 1px solid rgba(0, 0, 0, .3);
}

.item {
	padding: 20px 0px 20px 0px;
}

#elementos2 .container {
	background: #FFFFFF;
}

#elementos2 h2 {
	font-size: 20px;
	padding: 5px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 5px 5px;
}

/* #elementos2 i.far {
	font-size: 18px;
	padding-left: 10px;
} */

#elementos3 .container {
	background: #FFFFFF;
}

#elementos3 h2 {
	padding-left: 40px;
	padding-bottom: 5px;
}

#elementos3 .no-image {
	padding-left: 45px;
}

.borda-direita {
	border-right: 1px solid #CCCCCC;
}

.borda-esquerda {
	border-left: 1px solid #CCCCCC;
}

.espaco {
	margin-top: -14px;
}

a {
	text-transform: capitalize;
}

#rodape {
	margin-top: 20px;
	padding: 10px;
	background: #258dc8; /* Old browsers */
	background: -moz-linear-gradient(top, #258dc8 0%, #258dc8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #258dc8 0%,#258dc8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #258dc8 0%,#258dc8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 5px 5px;
}

/* ========================= TIPOGRAFIA ========================= */

#elementos2 a .glyphicon-remove {
	color: #000;
}

#rodape h6 {
	color: #FFFFFF;
}

/* ========================= MEDIA QUERIES ========================= */

/* xs < 768px */
@media screen and (max-width: 767px) {

.img-logo {
	font-size: 25px;
	padding-top: 4px;
}

}

/* sm ≥ 768px */
@media screen and (min-width: 768px) {

}

/* md ≥ 992px */
@media screen and (min-width: 992px) {


}

/* lg ≥ 1200px */
@media screen and (min-width: 1200px) {


}
