/*
* @author Paulo Dias
  @git https://github.com/pecedias
* @version 0.1
*/

/* ========================= LAYOUT ========================= */
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
	height: 100%;
	overflow: auto;
}

body {
	font-family: 'Ubuntu', Arial, sans-serif;
	background: #F1F1F1;
	overflow-x: hidden;
}

/* -- Barra de Navegação -- */
.span-logo {
	padding-left: 10px;
}

.img-logo {
	font-family: 'Anton', Arial, sans-serif;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding-bottom: 4px;
}

.navbar span {
	color: #FFFFFF;
}

nav.navbar-bg {
	padding: 3px 0px;
	margin: 0px 0px 1px 0px;
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	border: none;
}

/* -- Elementos -- */
#elementos1 {
	background: #F1F1F1;
	padding: 0px;
}

#elementos1 .container {
	background: #FFFFFF;
}

#elementos1 .img-centro {
	display: block;
	/*background: url('../assets/img/img.png') no-repeat;*/
	margin-top: 4px;
	height: 400px;
	width: 700px;
  margin-left: auto;
	margin-right: auto;
	padding: 1px;
	color: transparent;
	border: 2px dashed rgba(0, 0, 0, 0.5);
	/*box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);*/

}

#elementos1 a {
	text-decoration: none;
}

#elementos1 li {
	margin-top: 5px;
	/*background: rgba(0, 0, 0, .1);*/
	border: 1px solid rgba(0, 0, 0, .3);
}

.item {
	padding: 20px 0px 20px 0px;
}

#elementos2 .container {
	background: #FFFFFF;
}

#elementos2 h2 {
	font-size: 20px;
	padding: 5px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 5px 5px;
}

#elementos3 .container {
	background: #FFFFFF;
}

#elementos3 h2 {
	font-size: 25px;
	padding-left: 30px;
	padding-bottom: 5px;
}

#elementos3 .no-image {
	padding-left: 15px;
}

#elementos3 .img-borda {
	padding: 3px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.espaco-bottom {
	padding-bottom: 28px;
}

.borda-direita {
	border-right: 1px solid #CCCCCC;
}

.borda-esquerda {
	border-left: 1px solid #CCCCCC;
}

.espaco {
	margin-top: -14px;
}

.center {
	text-align: center;
}

a {
	text-transform: capitalize;
}

.fundo-container-azul {
	background: #000;
	background: #258dc8; /* Old browsers */
	background: -moz-linear-gradient(top, #258dc8 0%, #258dc8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #258dc8 0%,#258dc8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #258dc8 0%,#258dc8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#rodape-azul {
	background: #258dc8; /* Old browsers */
	background: -moz-linear-gradient(top, #258dc8 0%, #258dc8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #258dc8 0%,#258dc8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #258dc8 0%,#258dc8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#rodape-azul .texto-desenvolvimento {
	color: #fff;
	font-size: 16px;
	padding-top: 22px;
	text-align: center;
}

.tam-code:hover {
	color: rgba(0, 0, 0, 0.8);
}

#rodape-azul h4 {
	font-family: 'Roboto', Arial, sans-serif;
	color: #cccccc;
	font-size: 14px;
	text-transform: uppercase;
}

#rodape-azul >li>a, footer .nav li a {
	font-family: 'Roboto', Arial, sans-serif;
	color: #ffffff;
	font-weight: 900;
}

#rodape-azul >li>a:hover, footer .nav li a:hover {
	color: #9bf0e1;
	background: none;
}

.logo {
	font-size: 30px;
	text-align: center;
}

.fundo-container-preto {
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#rodape-preto {
	padding: 1px;
	color: #fff;
}

.rosto-hover:hover {
	color: #0087ff;
}

.logos-hover:hover {
	color: #d8ba0d;
}

.cores-hover:hover {
	color: #d80d35;
}

.texto-hover:hover {
	color: #e88206;
}

.turismo-hover:hover {
	color: #05b75b;
}

.tags-hover:hover {
	color: #7a511e;
}

/* ========================= TIPOGRAFIA ========================= */

#elementos2 a .glyphicon-remove {
	color: #000;
}

#rodape h6 {
	color: #FFFFFF;
}

/* ========================= MEDIA QUERIES ========================= */

/* xs < 768px */
@media screen and (max-width: 767px) {

.img-logo {
	font-size: 25px;
	padding-top: 4px;
}

.center-responsive {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#elementos3 h2 {
	text-align: center;
	padding-left: 10px;
}

#rodape-azul {
	text-align: center;
}

#rodape-azul .texto-desenvolvimento {
	padding-top: 0px;
}

/* sm ≥ 768px */
@media screen and (min-width: 768px) {

}

/* md ≥ 992px */
@media screen and (min-width: 992px) {

}

/* lg ≥ 1200px */
@media screen and (min-width: 1200px) {

}
